<div class="title-container">
  <h1>Nos cafés</h1>
</div>
<div class="container">
  <div class="coffee-varities">
    <div class="img-and-description">
      <img src="https://d2j6dbq0eux0bg.cloudfront.net/images/16802018/1048915066.jpg">
      <div class="about-paragraph">
        <h2>Brazil</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia sodales erat, eget semper lacus dictum eget. Curabitur sed suscipit dui, at auctor tortor. Sed felis arcu, molestie in tristique ut, tincidunt vel mi. Vestibulum tincidunt posuere mi, ut porttitor urna consequat nec. Donec facilisis nibh non sollicitudin auctor. Vivamus ullamcorper justo et ligula feugiat tincidunt eget non mauris. Ut euismod ultrices odio sed semper</p>
      </div>
    </div>
    <div class="img-and-description">
      <img class="coffee-img" src="https://d2j6dbq0eux0bg.cloudfront.net/images/16802018/1048915309.jpg">
      <div class="about-paragraph">
        <h2>Décaféiné</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia sodales erat, eget semper lacus dictum eget. Curabitur sed suscipit dui, at auctor tortor. Sed felis arcu, molestie in tristique ut, tincidunt vel mi. Vestibulum tincidunt posuere mi, ut porttitor urna consequat nec. Donec facilisis nibh non sollicitudin auctor. Vivamus ullamcorper justo et ligula feugiat tincidunt eget non mauris. Ut euismod ultrices odio sed semper</p>
      </div>
    </div>
    <div class="img-and-description">
      <img class="coffee-img" src="https://d2j6dbq0eux0bg.cloudfront.net/images/16802018/1048915374.jpg">
      <div class="about-paragraph">
        <h2>Guatemala</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia sodales erat, eget semper lacus dictum eget. Curabitur sed suscipit dui, at auctor tortor. Sed felis arcu, molestie in tristique ut, tincidunt vel mi. Vestibulum tincidunt posuere mi, ut porttitor urna consequat nec. Donec facilisis nibh non sollicitudin auctor. Vivamus ullamcorper justo et ligula feugiat tincidunt eget non mauris. Ut euismod ultrices odio sed semper</p>
      </div>
    </div>
  </div>
</div>
