<div class="container">
  <div class="title-container">
    <h1>Café Slam</h1>
   </div>
     <ul>
       <a href="#about-us"><li>Qui sommes-nous</li></a>
       <a href="#our-coffee"><li>Notre café</li></a>
       <a href="#our-menus"><li>Nos menus</li></a>
       <a href="#artists"><li>Nos artistes</li></a>
     </ul>
  </div>
<app-about-us id="about-us"></app-about-us>
<app-our-coffee id="our-coffee"></app-our-coffee>
<app-menus id="our-menus"></app-menus>
<app-artists id="artists"></app-artists>

